<div class="header">
  <h1>BoxIK</h1>
  <img src="../assets/boxik-logo.svg" width="140" height="140" alt="BoxIK Logo">
  <h1>@box-ik/ng-cheat-codes</h1>
</div>

<span class="demo">
  Keys Pressed: <p>{{ keys }}</p> <button (click)="onClear()">clear</button>
</span>

<div class="content">
  <div class="item">
    <h2>Cheat Codes Available</h2>
    <ul>
      <li *ngFor="let cheatCode of cheatCodesService.list()">
        <b>{{ cheatCode.description }}</b> ({{ cheatCode.code | uppercase }})
      </li>
    </ul>
  </div>

  <div class="item">
    <h2>Activated</h2>
    <ul>
      <li *ngFor="let cheatCode of activated">
        {{ cheatCode.description }}
      </li>
      <span>NONE</span>
    </ul>
  </div>
</div>

<input type="text"><input type="text">

<router-outlet></router-outlet>
