
span, p, button { display: inline; }

.header {
  text-align: center;
  margin-bottom: 4rem;
}

.cheat-codes {
  display: flex;
  justify-content: center;

  .item {
    padding: 0 2rem 2rem 2rem;
    flex-basis: 30%;

    &:first-child {
      border-right: 1px solid orangered;
    }

    ul {
      li {
        font-size: 1.5rem;
      }
      span { display: inline; font-weight: 800; color: orangered; }
      li + span { display: none; }
    }
  }
}

.keys {
  display: block;
  padding-top: 2rem;
  font-size: 1.5rem;
  text-align: center;
  p { color: grey; }

  button {
    cursor: pointer;
    margin-left: 0.5rem;
    border-radius: 5px;
    vertical-align: middle;
    font-size: 1rem;
    border: 1px solid orangered;
    color: orangered;
    background: white;
    outline: none;
    
    &:active { color: white; background: orangered; }
  }
}

.toolbar {
  display: block;
  padding: 1.5rem 0;

  .status {
    p { color: green; }
  }

  .settings {
    margin-right: 1rem;
    label { margin-left: 0.5rem; }
    input[type="number"] { width: 150px; }
  }
}

div.input {
  p, input, textarea { display: block; width: 300px; margin-bottom: 1rem; }
}